@mixin fontDarkModeColor($alpha) {
  color: rgba(255, 255, 255, $alpha) !important;
}

@mixin backgroundDarkModeColor($alpha) {
  background: rgba(29, 29, 31, $alpha) !important;
}

@mixin cardBackgroundDarkModeColor($alpha) {
  background: rgba(50, 50, 50, $alpha) !important;
}

html.dark {
  .el-aside, .el-main {
    background: rgb(18, 18, 18) !important;
  }

  // 顶端栏深色模式背景颜色覆盖
  .el-header {
    //@include backgroundDarkModeColor(.72);
    //background: rgba(0, 0, 0, .15);
    backdrop-filter: saturate(50%) blur(4px);
    -webkit-backdrop-filter: saturate(50%) blur(4px);
    border-bottom: solid 1px var(--el-menu-border-color);
    background-image: radial-gradient(transparent 1px, rgba(0, 0, 0, .95) 1px);
    background-size: 4px 4px;
  }

  // 分类标题
  h1 {
    @include fontDarkModeColor(.8);
  }

  // 侧边栏脚注
  .side-footer {
    @include fontDarkModeColor(.25);
  }

  // 卡片主背景
  .cardBg {
    @include cardBackgroundDarkModeColor(.25);
    border: rgba(50, 50, 50, .4) 2px solid !important;

    &:hover {
      @include cardBackgroundDarkModeColor(.5);
      border: rgba(50, 50, 50, 1) 2px solid !important;
      box-shadow: 0 -3px 0 rgba(50, 50, 50, .75) !important;

      .addCardText {
        @include fontDarkModeColor(.95);
      }
    }

    &:last-child {
      border: rgba(50, 50, 50, .4) 2px dashed !important;

      &:hover {
        border: rgba(50, 50, 50, 1) 2px solid !important;
      }
    }
  }

  // 卡片主背景链接
  .cardBgHref {
    @include fontDarkModeColor(.5);

    &:hover {
      @include fontDarkModeColor(.95);
    }
  }

  .cardRemarkInfo {
    @include fontDarkModeColor(.5);
    border-top: 1px solid !important;
    border-image: linear-gradient(-90deg, rgba(50, 50, 50, 0) 0%, rgba(255, 255, 255, .1) 100%) 2 2 2 2 !important;

    .editItemBtn {
      &:hover {
        @include fontDarkModeColor(.95);
      }
    }
  }

  // 卡片副标题
  .cardSubtitle {
    @include fontDarkModeColor(.25);
  }

  .cardTag {
    @include fontDarkModeColor(.5);

    &:hover {
      @include fontDarkModeColor(.95);
    }
  }

  // 卡片logo背景
  .el-avatar--circle {
    background: none !important;
  }

  // 快捷添加卡片遮罩
  .modal {
    background: rgba(0, 0, 0, 0.75);
  }

  // 快捷添加卡片窗体
  .addCardWindow {
    background: rgba(20, 20, 20, .75);
    border: 2px solid rgba(0, 0, 0, .75);
    box-shadow: none;
  }

  // 快捷添加卡片按钮文字及图标
  .addCard {

    .addCardText {
      @include fontDarkModeColor(.5);
    }

    .addCardIcon {
      @include fontDarkModeColor(.5);
    }
  }

}